<?xml version="1.0"?>
<Server port="-1"
        shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.core.JasperListener"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />

    <GlobalNamingResources>
        <Resource auth="Container"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  name="UserDatabase"
                  pathname="conf/tomcat-users.xml"
                  type="org.apache.catalina.UserDatabase"/>
    </GlobalNamingResources>

    <Service name="Catalina">
             <Executor maxThreads="300"
                minSpareThreads="50"
                maxIdleTime="120000"
                name="tomcatThreadPool"
                namePrefix="tomcat-http--"/>
            <Engine defaultHost="0.0.0.0"
                name="Catalina">
            <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
            <Host appBase="webapps"
                autoDeploy="false"
                deployOnStartup="true"
                deployXML="true"
                name="0.0.0.0"
                unpackWARs="true">
            <!--<Valve className="org.apache.catalina.valves.RemoteIpValve"
                internalProxies="(10\.78\.(28|29|30|31)\.\d{1,3}|147\.243\.\d{1,3}\.\d{1,3})"
                trustedProxies=""
                remoteIpHeader="x-forwarded-for"
                proxiesHeader="x-forwarded-by"
                protocolHeader="x-forwarded-proto"
                protocolHeaderHttpsValue="https"
                changeLocalPort="false"
            />-->
            <Valve className="org.apache.catalina.valves.AccessLogValve"
                directory="/opt/tomcat/logs"
                pattern="[access_log] %h %l %u %t %D (ms) &quot;%r&quot; &quot;%{WeToken}c&quot; %s %b Location:%{Location}o Referer:%{Referer}i"
                prefix="access_log"
                rotatable="false"
                requestAttributesEnabled="true"
                suffix=".txt"/>
            </Host>
        </Engine>
         <!-- https://tomcat.apache.org/tomcat-7.0-doc/config/http.html -->
           <Connector acceptCount="100"
                 connectionTimeout="330000"
                 executor="tomcatThreadPool"
                 maxKeepAliveRequests="200"
                 keepAliveTimeout="330000"
                 server="PCCSVR"
                 port="8080"
                 protocol="org.apache.coyote.http11.Http11NioProtocol"
                 redirectPort="8080"/>
           <!--<Connector acceptCount="100"
                 connectionTimeout="330000"
                 executor="tomcatThreadPool"
                 maxKeepAliveRequests="200"
                 keepAliveTimeout="330000"
                server="PCCSVR"
                 port="8080"
                 protocol="org.apache.coyote.http11.Http11NioProtocol"
                 proxyPort="443"
                 scheme="https"
                 secure="true"
                 redirectPort="443"/>-->
    </Service>
</Server>
